Repository dvpnt/styled-media-helper: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, yaspeller

update README.md
  README.md
Due: yaspeller

add CHANGELOG.md
  .yaspellerrc
  CHANGELOG.md
Due: yaspeller

edit .travis.yml
  .travis.yml
Due: none

edit .travis.yml to speed up builds
  .travis.yml
Due: none

refactor
  .travis.yml
  package.json
Due: none

add pull_request_template
  .github/pull_request_template.md
Due: yaspeller

add CHANGELOG.md (#10)
  .github/pull_request_template.md
  .yaspellerrc
  CHANGELOG.md
Due: yaspeller

Rewrote it in typescript
  .babelrc
  .eslintrc
  .eslintrc.json
  .lintstagedrc
  package-lock.json
  package.json
  src/errors.js
  src/index.js
  src/index.ts
  tap-snapshots/test-index.ts-TAP.test.js
  test/index.js
  test/index.ts
  tsconfig.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.js
  yaspeller: any of: *.md
